<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #054056;"></span>
		<span class="sg-label">#054056<br>5,64,86<br>valid focus</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #C6DDEA;"></span>
		<span class="sg-label">#C6DDEA<br>198,221,234<br>warning focus</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #313131;"></span>
		<span class="sg-label">#313131<br>49,49,49<br>information text<br>dark background<br>dark text</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#FFF<br>255,255,255<br>white text<br>light background<br></span>
	</li>
</ul>